@media only screen and (min-width:1440px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    :root {
        --bgColor: hsl(257, 40%, 49%);
        --softMagenta: hsl(300, 69%, 71%);
        --headingFontFamily: 'Poppins', sans-serif;
    }

    @font-face {
        font-family: 'Poppins', 'Open Sans';
        src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'), url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    }

    body {
        font-family: 'Open Sans', sans-serif;
        background-color: var(--bgColor);
    }

    .bgImg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    main {
        width: 100%;
        height: 100svh;
        display: grid;
        grid-template-columns: 100px minmax(300px, 1fr) 1fr 100px;
        grid-template-rows: 150px minmax(200px, 1fr) 100px;
        grid-template-areas:
            "header header header header"
            "content content content content"
            "footer footer footer footer";
    }


    header {
        grid-area: header;
        display: grid;
        align-items: center;
    }

    header > .img > img {
        margin-left: 80px;
    }

    section {
        grid-area: content;
        align-self: center;
        justify-self: center;
    }

    section > .container {
        display: flex;
        width: 100%;
        height: 100%;
    }

    section > .container > .containerOne {
        display: grid;
        width: 50%;
        justify-content: center;
        height: 100%;
    }

    section > .container > .containerTwo {
        width: 50%;
        height: 100%;
        align-self: center;
    }



    section > .container > .containerTwo > .subContainer {
        display: grid;
        width: 60%;
        height: 350px;
        align-content: space-evenly;
    }

    section > .container > .containerTwo > .subContainer > .heading > h2 {
        line-height: 1.6;
        color: #fff;
        font-family: var(--headingFontFamily) !important;
        font-weight: 600;
    }

    section > .container > .containerTwo > .subContainer > .para {
        width: 90%;
    }

    section > .container > .containerTwo > .subContainer > .para > p {
        line-height: 1.7;
        font-weight: 400;
        color: #fff;
    }


    section > .container > .containerTwo > .subContainer > .button > button {
        padding: 1.1em 6.6em;
        border-radius: 25px;
        background-color: #fff;
        color: var(--bgColor);
        border: none;
        box-shadow: 7px 6px 16px 0 rgba(0, 0, 0, 0.356);
    }

    section > .container > .containerTwo > .subContainer > .button > button:hover {
        color: #fff;
        background-color: var(--softMagenta);
        cursor: pointer;
    }


    footer {
        grid-area: footer;
        display: grid;
        align-items: center;
        justify-items: end;
    }

    footer > .logos {
        display: grid;
        grid-auto-flow: column;
        width: 150px;
        height: 50%;
        align-content: center;
        margin-right: 78px;
    }

    footer > .logos > .facebook {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 30px;
        text-align: center;
        color: #fff;
    }

    footer > .logos > .x {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 30px;
        text-align: center;
        color: #fff;
    }

    footer > .logos > .instagram {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 30px;
        text-align: center;
        color: #fff;
    }

    footer > .logos > *:hover {
        border: 1px solid var(--softMagenta);
        color: var(--softMagenta);
        cursor: pointer;
    }

}